body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.card-img-top{
    width: 40% !important;
    margin: auto;
}
.card{
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}
.main-section{
    background: #69f5de !important;
    
}
.top-section{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}